subnet {{ pxe_interface_network }} netmask {{ pxe_interface_netmask }} {
    authoritative;
    allow booting;
    option routers            {{ pxe_interface_address }};
    option broadcast-address  {{ pxe_interface_broadcast }};

{% for host in pxe_clients  %}
    host {{ host }} {
        hardware ethernet {{ pxe_clients[host]['pxe_mac'] }};
        fixed-address {{ pxe_clients[host]['pxe_ip'] }};
        next-server {{ pxe_interface_address }};
        filename "pxelinux.0";
    }
{% endfor %}
{% if 'pxe-clients' in groups %}
{% for host in groups['pxe-clients']  %}
    host {{ host }} {
        hardware ethernet {{ hostvars[host]['pxe_mac'] }};
        fixed-address {{ hostvars[host]['pxe_ip'] }};
        next-server {{ pxe_interface_address }};
        filename "pxelinux.0";
    }
{% endfor %}
{% endif %}
}
